<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" verbose="1" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="utils.listeners.ReportTestListener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="tests.GooglePageTests">
                <methods>
                    <include name="GooglePageTests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
